{% assign iframe_src = include.media.url | 
  replace: "http://youtube.com/watch?v=", "https://www.youtube.com/embed/" | 
  replace: "https://youtube.com/watch?v=", "https://www.youtube.com/embed/" | 
  replace: "http://www.youtube.com/watch?v=", "https://www.youtube.com/embed/" | 
  replace: "https://www.youtube.com/watch?v=", "https://www.youtube.com/embed/" | 
  replace: "https://youtu.be/", "https://www.youtube.com/embed/" | 
  replace: "http://youtu.be/", "https://www.youtube.com/embed/" |
  replace: "https://youtube.com/watch?feature=player_embedded&v=", "https://www.youtube.com/embed/" | 
  replace: "https://youtube.com/watch?feature=player_embedded&v=", "https://www.youtube.com/embed/" | 
  replace: "http://www.youtube.com/watch?feature=player_embedded&v=", "https://www.youtube.com/embed/" | 
  replace: "https://www.youtube.com/watch?feature=player_embedded&v=", "https://www.youtube.com/embed/" | 
  replace: "https://vimeo.com/", "https://player.vimeo.com/video/" |
  replace: "https://www.vimeo.com/", "https://player.vimeo.com/video/" |
  replace: "http://vimeo.com/", "https://player.vimeo.com/video/" |
  replace: "http://www.vimeo.com/", "https://player.vimeo.com/video/"
%}
    {% if include.media.url %}
    {% if include.media.contentType == 'image/*' %}<img alt="Media file for {{ include.title }}" title="Media file for {{ include.title }}" src="{{ include.media.url }}"/>{% endif %}
    {% if include.media.contentType == 'video/*' %}<div class='embed-container'>
      {% if iframe_src contains "https://www.youtube.com/embed/" or iframe_src contains "https://player.vimeo.com/video/" %}
      <iframe src="{{ iframe_src }}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      {% else %}
      <video controls>
        <source src="{{ include.media.url }}">
        <p>Video source: <a href="{{ include.media.url }}">{{ include.media.url }}</a></p>
      </video>
      {% endif %}
    </div>{% endif %}
    {% endif %}
